node_modules
.next
dist
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
pip-log.txt
pip-delete-this-directory.txt
.env
.env.local
.git
.gitignore
sessions
coverage
.nyc_output
.vscode
.idea
*.swp
*.swo
*~
o11y
workspace
