verify-deps-before-run=false
registry=https://mirrors.cloud.tencent.com/npm/
confirmModulesPurge=false
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=120000
node-linker=hoisted